[Desktop Entry]
Name=PyChat
Comment=Echo Chat
Exec=python /home/anonymous/Dekstop/PyChat/client.py
Icon=/home/anonymous/Desktop/PyChat/icon.png
Terminal=true
Type=Application
Categories=Utility;Application;
